

    <h4>Add Employee</h4>

      <div class="row">
     <div class="col-lg-4 " *ngFor="let work of workList">
       <div class="card">
         <div class="card-body">
          <h5> Title : <span>{{work.title}}</span> </h5>
          <h5> Employer : <span>{{work.employer}}</span> </h5>
          <h5> Location : <span>{{work.location}}</span> </h5>
          <h5> Skill Required : <span>{{work.skill_req}}</span> </h5>
          <h5> Duration : <span>{{work.duration}}</span> </h5>
          <h5> Date : <span>{{work.start_dt | date}} to {{work.end_dt | date}}</span> </h5>
          <h5> Worker Required : <span>{{work.worker_req}}</span> </h5>
          <h5> Payment : <span>{{work.payment}}</span> </h5>
         </div>
         <div class="card-footer">
          <mat-form-field>
            <mat-label>Employee</mat-label>
            <mat-select #user multiple >
              <mat-option *ngFor="let app of docs" [value]="app.employee_id._id">
                {{app.employee_id.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button  color="success" (click)="appliedwork(work._id)" class="login-button"type="submit">Applied user</button>
          <button mat-raised-button  color="primary" (click)="assignWork(user.value,work._id)" class="login-button"type="submit">Assign</button>
         </div>
       </div>
     </div>

   </div>





