.card-style{
 width: 70%;

margin-left: 20%;
margin-top: 8%;
background-color: #dadcdd;
border:2px solid;
}
.card-text-style{
 font-family: work;
 margin: -7px;
text-align-last: left;

}
.card-hover:hover{
padding:1px;
}